
div.galeria img{
 width: 80%;
 height: auto;
 padding: 30px;
}
h1{
    color: rgb(14, 252, 6);
    text-shadow: px 5px 10px rgb(0, 255, 13), 0 0 25px rgb(0, 162, 255), 0 ;
    text-align: center; 
}
div.galeria{
    margin: 10px 20px;
    background-color: rgb(43, 82, 5);
    box-shadow: 0 4px 8px 0 rgb(0, 255, 0), 0 6px 20px 0 rgba(0, 140, 255, 0.747);
    float: left;
    width: 350px;
}
div.galeria:hover{
   border: 1px solid lightskyblue;
   transform: rotate(-3deg); 
}

div.pie{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    padding: 10px;
}
html{background-color: rgb(59, 38, 1);}
.menu{
    list-style: none;
    padding: 0;
    background: rgb(196, 107, 5);
    width: 100%;
    max-width: 370px;
    margin: auto;
}
.menu li a{
 text-decoration: none;
 color: white;
 padding: 20px;
display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: greenyellow;
}